
/* https://ideogram.ai/ */
.filter-menu-container{


    /* background-color: rgb(67, 13, 13); */
   
   /* background-color: aqua; */
    height: 800px;
    padding: 40px  20px ;
}

.inner-menu-container{

display: flex;
gap: 2px;
/* background-color: aqua; */

}
 
.menu-btn{
    padding:10px 17px;
    border: none;

    border-radius: 5px;
}
.menu-btn:hover{
    /* background-color: rgb(240, 235, 228); */
    
}

.map-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 images per row */
    gap: 16px; /* Space between images */
    margin: 0 auto;
  }
  
  .genered-image img {
    width: 100%;
  
 
  }
  
  
@media(max-width:900px){

    .inner-menu-container{
        position: fixed;
        top: 0;
    }
}