*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.generated-image-container{


    background-color: antiquewhite;
    /* height: 90vh; */
    width: 100%;
   
}

.inner-generated-image-container{
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;

}

.left-inner-generated-image{

  
    background-color: rgb(247, 253, 253);
    place-items: center;
    padding: 20px 20px;
}
 
.right-inner-generated-image{
   
background-color: white;  
    padding: 20px 20px;

 
}
.inner-right-generated-prompt{
    border: 1px solid rgba(0, 0, 0, 0.568);
    height:500px ;
    border-radius: 10px;
    width: 100%;
    min-width: 280px;
}
.generated-big-image{

   align-items: center;
      background-color: rgb(222, 65, 65);


}
.generated-big-image img{

    height: 500px;
    width: 600px;

}
.gen-img-user-profile-top{
    display: flex;
    flex-direction: column;
}
.userprofile-data{
    padding: 10px 5px;
}
.inner-userprofile-data{
display: flex;
flex-direction: row;
justify-content: space-between;
    }
.inner-userprofile-data div img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50px;
}
.od1{
    order: 1;
}
.od2{
    order: 2;
}
@media (max-width:900px){

    .inner-generated-image-container{
        display: grid;
        grid-template-columns: 1fr;
      }
      .inner-1{
        display: flex;
        flex-direction: column;
    }
    .od1{
        order: 2;
    }
    .od2{
        order: 1;
    }
      
}